.services .icon-box.tatra img {
	margin-top: -20px;
}
.services .icon-box.soitron img {
	margin-left: -10px;
}
.read-more-block {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	position: absolute;
	bottom: 0;
	right: 20px;
}

.text-justify {
	text-align: justify;
}

.core-features img {
	cursor: pointer;
}
.core-features img:hover {
	opacity: 80%;
}
.gslide-image {
	background: #fff;
	padding: 50px;
}

@media (max-width: 992px) {
	.services .icon-box {
		text-align: center;
	}

	.services .icon-box img {
		float: none;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.services .icon-box.tatra img {
		margin-bottom: 5px;
	}
	.services .icon-box.icon-box.soitron img {
		margin-bottom: 10px;
	}
}

.contact-boxes {
	display: flex;
	flex-direction: row;
}

.contact-boxes-left {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-right: 0.75rem;
}
.contact-boxes-right {
	width: 50%;
	margin-left: 0.75rem;
}
@media (max-width: 992px) {
	.contact-boxes {
		flex-direction: column;
	}

	.contact-boxes-left {
		width: 100%;
		margin-right: 0;
	}
	.contact-boxes-right {
		width: 100%;
		margin-left: 0;
	}
}
