.services .icon-box.tatra img {
	margin-top: -20px;
}
.services .icon-box.soitron img {
	margin-left: -10px;
}

@media (max-width: 992px) {
	.services .icon-box {
		text-align: center;
	}

	.services .icon-box img {
		float: none;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.services .icon-box.tatra img {
		margin-bottom: 5px;
	}
	.services .icon-box.icon-box.soitron img {
		margin-bottom: 10px;
	}
}
