* {
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: "Comfortaa", cursive;
	margin: 0;
}

.narrow-width {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-bottom: 1px solid #3c92a0;
	position: sticky;
	top: 0;
	background: #fff;
	height: 38px;
}

.navbar .nav {
	list-style-type: none;
	padding: 10px 0;
}
.navbar .nav a,
.navbar .nav a:visited {
	text-decoration: none;
	color: black;
}

.section {
	margin: 0 auto;
	display: block;
	width: inherit;
}

.bg {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: -2;
}
.bg.home1 {
	background-color: #c8ddde;
	top: 38px;
	height: 510px;
}
.bg.home2 {
	background-color: #cfbe8b;
	top: 548px;
	height: 505px;
}
.bg.home3 {
	background-color: #000;
	top: 1053px;
	height: 47px;
}
.bg.home4 {
	background-color: #3a3a33;
	top: 1100px;
	height: 211px;
}
.bg.password1 {
	background-color: #cfbe8b;
	top: 1311px;
	height: 1273px;
	z-index: -6;
}
.bg.password2 {
	background-color: #c8ddde;
	top: 990px;
	height: 839px;
	transform: rotate(-27.2deg);
	z-index: -5;
	left: -300px;
	width: 2000px;
}

/* contact section */
.contact-panel {
	background: url(../svg/end.svg) no-repeat;
	background-size: 100%;
	background-position-y: -280px;
	width: inherit;
}
/* overalay */
.contact-overlay {
	background: rgba(0, 0, 0, 0.7);
	padding: 50px;
}
.contact-overlay .title {
	background-color: #fdc689;
	padding: 10px;
	border-radius: 7px;
	text-align: center;
}
.contact-overlay h3 {
	font-size: 2em;
	margin: 0;
}
.contact-overlay .motto {
	margin: 7px 0;
}
/* .contact-overlay .line1,
.contact-overlay .line2 {
	display: block;
} */

.contact-overlay .line2 {
	text-indent: 60px;
}
/* form */
.contact-form {
	margin-left: -120px;
	color: #fdc689;
}
.contact-form table {
	width: 500px;
	margin: 20px auto;
}
.contact-form table th {
	text-align: right;
	width: 120px;
	padding: 10px 20px;
	vertical-align: top;
	text-transform: uppercase;
}
.contact-form .input {
	width: 100%;
	line-height: 30px;
	background: rgba(255, 255, 255, 0.8);
	border: none;
}
.contact-form button {
	background: #fdc689;
	padding: 7px 10px;
	border-radius: 7px;
	border: none;
	float: right;
}
